<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Employees</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Font Awesome -->
    <link rel="stylesheet" href="{{ asset('plugins/fontawesome-free/css/all.min.css') }}">
    {# <link rel="stylesheet" href="{{ asset('css/AdminLteV4.css') }}">#}
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

    <!-- Select2 -->
    <link rel="stylesheet" href="{{ asset('plugins/select2/css/select2.min.css') }}">
    <!-- Bootstrap Color Picker -->
    <link rel="stylesheet" href="{{ asset('plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css') }}">
    <!-- Tempusdominus Bbootstrap 4 -->
    <link rel="stylesheet" href="{{ asset('plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css') }}">
    <!-- daterange picker -->
    <link rel="stylesheet" href="{{ asset('plugins/daterangepicker/daterangepicker.css') }}">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <!-- Toastr -->
    <link rel="stylesheet" href="{{ asset('plugins/toastr/toastr.min.css') }}">
    <link rel="stylesheet" href="{{asset('css/adminlte.min.css')}}">
    <link rel="stylesheet" href="{{asset('css/custom.css')}}">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <link href="{{ asset('img/favicon.png') }}" rel="shortcut icon" type="image/x-icon">
    <link href="{{ asset('img/webclip.png') }}" rel="apple-touch-icon">
</head>

<style>

</style>

<body class="hold-transition layout-top-nav">
<div class="wrapper">

    <!-- Navbar -->
    {{ include('blocks/sidebar_menu.html.twig') }}
    <!-- /.navbar -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <div class="content contentStyle">
            <div class="container pt-5 containerStyle">
                <div class="row rowStyle">
                    <h4 class="mb-3 text-capitalize">
                        <i class="fas fa-search-location redColor"></i>
                        Please enter your address in the box and press the get location button.
                        <strong>For example <span class="text-danger">102.32.34.23</span></strong>
                    </h4>
                    <h4 class="mb-3 text-capitalize">
                        <i class="fas fa-search-location redColor"></i>
                        After displaying the map, you can click on the marker Click to see your address
                    </h4>
                    <h4 class="mb-3 text-capitalize">
                        <i class="fas fa-search-location float-left pr-1 redColor"></i>
                        <div class="textStyle_loc">
                            If you enable the Active Location button. All your employees can use this address <strong>Otherwise</strong> they do not have access to this address
                        </div>
                    </h4>
                </div>
                <div class="row mt-5">
                    <div class="col-lg-4 col-sm-12 boxSendLocation">
                        <div class="card" >
                            <div class="card-body">
                                <div class="form-group">
                                    <input type="text" name="locationIp" class="form-control idLocations" onblur="checkInput(this)" placeholder="location Ip">
                                </div>
                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary btn-block btn-lg" disabled="disabled" id="getIp">Get Location</button>
                            </div>
                        </div>
                        <div class="card" id="showLabel" style="display: none">
                            <form id="sendLocation" autocomplete="off">
                                <div class="card-body">
                                    <div class="form-group">
                                        <input type="text" name="label" class="form-control" onblur="chechLable(this)" id="label" placeholder="label">
                                    </div>
                                    <div class="form-group">
                                        <input type="checkbox" id="userChanged" class="mr-2 mt-3 float-left">
                                         <h6 class="paddingH6"> Active location</h6>
                                    </div>

                                </div>
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary btn-block btn-lg" disabled="disabled" id="sendIp">Save Location</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-8 col-sm-12 boxMapStyle">
                        <div id="map"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main Footer -->
    {{ include('blocks/footer.html.twig') }}

</div>




<!-- jQuery -->
<script src="{{ asset('plugins/jquery/jquery.min.js') }}"></script>
<!-- Bootstrap 4 -->
<script src="{{ asset('plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<!-- FastClick -->
<script src="{{ asset('plugins/fastclick/fastclick.js') }}"></script>
<!-- AdminLTE App -->
<script src="{{ asset('js/adminlte.min.js') }}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{{ asset('js/demo.js') }}"></script>
<!-- Select2 -->
<script src="{{ asset('plugins/select2/js/select2.full.min.js') }}"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script src="{{ asset('plugins/moment/moment.min.js') }}"></script>
<script src="{{ asset('plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js') }}"></script>
<!-- date-range-picker -->
<script src="{{ asset('plugins/daterangepicker/daterangepicker.js') }}"></script>
<!-- Toastr -->
<script src="{{ asset('plugins/toastr/toastr.min.js') }}"></script>
<!-- DataTables -->
<script src="{{ asset('plugins/datatables/jquery.dataTables.js') }}"></script>
<script src="{{ asset('plugins/datatables/dataTables.bootstrap4.js') }}"></script>
<!-- SweetAlert2 -->
<script src="{{ asset('plugins/sweetalert2/sweetalert2.min.js') }}"></script>

<!-- Google Map -->
<script src="{{asset('js/googlemap.js')}}"></script>
<script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4ZzdNEwCqCeDHK4szjckTih4xIVKFczA&libraries=places&callback=initLocationIp" async defer >

</script>
<!-- mine script -->
<script src="{{ asset('js/config.js') }}"></script>
<script src="{{asset('js/demoall.js')}}"></script>
<script src="{{asset('js/pages/allowedTerminal_ip.js')}}"></script>



</body>
</html>
