<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Scheduler</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="{{ asset('plugins/fontawesome-free/css/all.min.css') }}">
    {# <link rel="stylesheet" href="{{ asset('css/AdminLteV4.css') }}">#}
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->

    <link rel="stylesheet" href="{{ asset('css/adminlte.css') }}">
    <!-- Select2 -->

    <link rel="stylesheet" href="{{ asset('plugins/select2/css/select2.min.css') }}">
    <!-- Bootstrap Color Picker -->
    <link rel="stylesheet" href="{{ asset('plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css') }}">
    <!-- Tempusdominus Bbootstrap 4 -->
    <link rel="stylesheet" href="{{ asset('plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css') }}">
    <!-- daterange picker -->
    <link rel="stylesheet" href="{{ asset('plugins/daterangepicker/daterangepicker.css') }}">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <!-- Toastr -->
    <link rel="stylesheet" href="{{ asset('plugins/toastr/toastr.min.css') }}">
    <!-- annotation css -->
    <link rel="stylesheet" href="{{ asset('css/custom.css') }}">
    <link rel="stylesheet" href="{{ asset('css/pages/annotation.css') }}">

    <!-- Full Calendar -->
    <link href='{{ asset('plugins/FullCalendar/core/main.css') }}' rel='stylesheet' />
    <link href='{{ asset('plugins/FullCalendar/daygrid/main.css') }}' rel='stylesheet' />
    <link href='{{ asset('plugins/FullCalendar/timegrid/main.css') }}' rel='stylesheet' />
    <link href='{{ asset('plugins/FullCalendar/timeline/main.css') }}' rel='stylesheet' />
    <link href='{{ asset('plugins/FullCalendar/resource-timeline/main.css') }}' rel='stylesheet' />
    <link href="{{ asset('img/favicon.png') }}" rel="shortcut icon" type="image/x-icon">
    <link href="{{ asset('img/webclip.png') }}" rel="apple-touch-icon">

</head>
<body class="hold-transition layout-top-nav">
<div class="wrapper">

    <!-- Navbar -->
    {{ include('blocks/sidebar_menu.html.twig') }}
    <!-- /.navbar -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">


        <!-- Main content -->
        <div class="content ">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="card card-custbl card-outline mt-4">
                            <div class="card-body">
                                {# <h5 class="card-title">Card title</h5>#}


                                <div class="col-12">
                                    <div class="card card-gray card-outline">
                                        <div class="card-header">
                                            <h5 class="card-title"><small>View Options</small></h5>

                                            <div class="card-tools">
                                                <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fas fa-minus"></i>
                                                </button>
                                            </div>
                                            <!-- /.card-tools -->
                                        </div>
                                        <!-- /.card-header -->
                                        <div class="card-body" style="font-size: 11px;" >
                                            <div class="form-group row" >

                                                <div class="col-sm-12">
                                                    <label for="schedule-list">Schedule</label>
                                                    <select class="form-control" id="schedule-ls" style="width: 100%;">
                                                        <option value="" disabled selected>Select Schedule</option>

                                                    </select>
                                                </div>
                                            </div>


                                            <div class="form-group">
                                                <div class="custom-control custom-switch">
                                                    <input type="checkbox" class="custom-control-input" name="chbox" id="unschemp">
                                                    <label class="custom-control-label cust-lable p-1" for="unschemp">Hide Unscheduled Employees</label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-12 col-form-label">View Shift Colors By</label>
                                                <div class="col-sm-12">
                                                    <select class="form-control viewShift " style="width: 100%;">
                                                        <option value="shift" >Shift</option>
                                                        <option value="position" >Position</option>
                                                    </select>
                                                </div>
                                            </div>

                                        </div>
                                        <!-- /.card-body -->
                                    </div>
                                    <!-- /.card -->
                                </div>

                                <div class="col-12">
                                    <div class="card card-gray card-outline">
                                        <div class="card-header">
                                            <h5 class="card-title"><small>Positions</small></h5>

                                            <div class="card-tools">
                                                <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fas fa-minus"></i>
                                                </button>
                                            </div>
                                            <!-- /.card-tools -->
                                        </div>
                                        <!-- /.card-header -->
                                        <div class="card-body" style="font-size: 11px;" >
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <!-- checkbox -->
                                                    <div class="form-group positions-ls-check">


                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.card-body -->
                                    </div>
                                    <!-- /.card -->
                                </div>

                                <div class="col-12">
                                    <div class="card card-gray card-outline">
                                        <div class="card-header">
                                            <h5 class="card-title"><small>Job Sites</small></h5>

                                            <div class="card-tools">
                                                <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fas fa-minus"></i>
                                                </button>
                                            </div>
                                            <!-- /.card-tools -->
                                        </div>
                                        <!-- /.card-header -->
                                        <div class="card-body" style="font-size: 11px;" >
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <!-- checkbox -->
                                                    <div class="form-group jobs-ls-check">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.card-body -->
                                    </div>
                                    <!-- /.card -->
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9">

                        <div class="card card-custbl card-outline mt-4">
                            <div class="card-header">
                                <h5 class="card-title m-0">Scheduler</h5>
                                <div class="card-tools">
                                    <div class="annotation-wrapper" style="display: none;">
                                        <button type="button" class="btn btn-tool" id="add-annotations" title="Add Annotation" data-toggle="modal" data-target="#modal-addAnnot"><i class="fas fa-plus"></i></button>
                                        <button type="button" id="show-annotations" class="btn btn-tool"  title="Show Annotations">
                                            <i class="fas fa-comments"></i>
                                        </button>
                                    </div>

                                </div>
                            </div>
                            <div class="card-body table-responsive p-5 card-custom position-relative" >
                                <!-- /.annotation-content -->
                                <div class="position-absolute d-flex flex-column  justify-content-center annotation-content">
                                    {#    <div class="info-box align-self-center">
                                             <span class="info-box-icon bg-aqua"><i class="fa fa-envelope-o"></i></span>

                                             <div class="info-box-content">
                                                #}{# <span class="info-box-text">Messages</span>#}{#
                                                 <span class="info-box-icon"><i class="far fa-calendar-alt"></i></span>
                                                 <span class="info-box-number">12 sep</span>
                                             </div>

                                         </div>#}

                                    <div class="position-relative p-3 justify-content-center annotation-content">


                                        {#   <div class="col-sm-12 mb-3">
                                               <div class="position-relative p-3 " style="height: 80px;background-color: #39859861;border-radius: 0.25rem;">
                                                   <div class="ribbon-wrapper">
                                                       <div class="ribbon bg-primary" style="color: black;top: 16px;">
                                                           <i class="far fa-calendar-alt"></i>12 Sep</span>
                                                       </div>
                                                   </div>

                                                   <div>
                                                   <span class="font-weight-bold d-block">title <button type="button" class="btn btn-sm d-inline"  id="detail-annot" data-toggle="modal" data-target="#modal-addAnnot" title="more info"> <i class="fas fa-arrow-circle-right" ></i></button></span>
                                                 <span>  <small>.ribbon-wrapper.ribbon-lg .ribbon</small></span>
                                                   </div>
                                               </div>
                                           </div>#}
                                    </div>


                                </div>
                                <!-- /.annotation-content -->
                                <div id='calendar'></div>
                                <div id="budget" class="budget table-responsive p-0 h-300" style="display: none;">

                                    <table class="table table-head-fixed table-sm" id="budget-table" >

                                        <thead>
                                        <tr>
                                            <th class="invisible"></th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr class="total">
                                            <td class="leftHeader font-weight-bold ">Actual Sales</td>
                                            <td class="c-content"><input type="text" class="budget-cell" disabled /></td>
                                            <td class="c-content"><input type="text" class="budget-cell" disabled /></td>
                                            <td class="c-content"><input type="text" class="budget-cell" disabled /></td>
                                            <td class="c-content"><input type="text" class="budget-cell" disabled /></td>
                                            <td class="c-content"><input type="text" class="budget-cell" disabled /></td>
                                            <td class="c-content"><input type="text" class="budget-cell" disabled /></td>
                                            <td class="c-content"><input type="text" class="budget-cell" disabled /></td>

                                        </tr>
                                        <tr class="labor">
                                            <td class="leftHeader font-weight-bold ">Labor % Target</td>
                                            <td class="c-content"><input type="text" class="budget-cell" disabled /></td>
                                            <td class="c-content"><input type="text" class="budget-cell" disabled /></td>
                                            <td class="c-content"><input type="text" class="budget-cell" disabled /></td>
                                            <td class="c-content"><input type="text" class="budget-cell" disabled /></td>
                                            <td class="c-content"><input type="text" class="budget-cell" disabled /></td>
                                            <td class="c-content"><input type="text" class="budget-cell" disabled /></td>
                                            <td class="c-content"><input type="text" class="budget-cell" disabled /></td>
                                        </tr>

                                        <tr class="assigned">
                                            <td class="leftHeader font-weight-bold ">Assigned Labor</td>
                                            <td class="c-content"><input type="text" class="budget-cell" disabled /></td>
                                            <td class="c-content"><input type="text" class="budget-cell" disabled /></td>
                                            <td class="c-content"><input type="text" class="budget-cell" disabled /></td>
                                            <td class="c-content"><input type="text" class="budget-cell" disabled /></td>
                                            <td class="c-content"><input type="text" class="budget-cell" disabled /></td>
                                            <td class="c-content"><input type="text" class="budget-cell" disabled /></td>
                                            <td class="c-content"><input type="text" class="budget-cell" disabled /></td>
                                        </tr>
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>



    </div>

    <!-- right side bar-->
    {{ include('blocks/breadcrumb.html.twig') }}
    <!-- Main Footer -->
    {{ include('blocks/footer.html.twig') }}

</div><!-- modal for Open Shift eventClick -->
<div class="modal fade show" id="modal-eventClickOpshift" style="display: none; padding-right: 16px;" aria-modal="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Available OpenShifts</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="openshift-item">

                </div>
            </div>
            <div class="modal-footer justify-content-between">

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script>
    let imgAssetDir="{{ asset('img/picsmall.png') }}";
    let imgAssetDirOpenshift="{{ asset('img/openshift128x128.png') }}";

    console.log(imgAssetDir)
</script>
<!-- jQuery -->
<script src="{{ asset('plugins/jquery/jquery.min.js') }}"></script>
<!-- Bootstrap 4 -->
<script src="{{ asset('plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<!-- FastClick -->
<script src="{{ asset('plugins/fastclick/fastclick.js') }}"></script>
<!-- AdminLTE App -->
<script src="{{ asset('js/adminlte.js') }}"></script>

<!-- Select2 -->
<script src="{{ asset('plugins/select2/js/select2.full.min.js') }}"></script>
<!-- Toastr -->
<script src="{{ asset('plugins/toastr/toastr.min.js') }}"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script src="{{ asset('plugins/moment/moment.min.js') }}"></script>
<script src="{{ asset('plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js') }}"></script>
<!-- bootstrap color picker -->
<script src="{{ asset('plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js') }}"></script>
<!-- date-range-picker -->
<script src="{{ asset('plugins/daterangepicker/daterangepicker.js') }}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{{ asset('js/demo.js') }}"></script>
<script src="{{ asset('js/config.js') }}"></script>
<script src="{{ asset('js/demoall.js') }}"></script>
<!-- Full Calendar -->
<script src='{{ asset('plugins/FullCalendar/core/main.js') }}'></script>
<script src='{{ asset('plugins/FullCalendar/interaction/main.js') }}'></script>
<script src='{{ asset('plugins/FullCalendar/daygrid/main.js') }}'></script>
<script src='{{ asset('plugins/FullCalendar/timegrid/main.js') }}'></script>
<script src='{{ asset('plugins/FullCalendar/timeline/main.js') }}'></script>
<script src='{{ asset('plugins/FullCalendar/resource-common/main.js') }}'></script>
<script src='{{ asset('plugins/FullCalendar/resource-timeline/main.js') }}'></script>
<script src='{{ asset('plugins/tooltip/popper.min.js') }}'></script>
<script src='{{ asset('plugins/tooltip/tooltip.min.js') }}'></script>
{#<script defer src="https://unpkg.com/popper.js/disdt/umd/popper.min.js"></script>#}
{#<script defer src="https://unpkg.com/tooltip.js/dist/umd/tooltip.min.js"></script>#}
<script src="{{ asset('js/pages/team.js') }}"></script>
<script src="{{ asset('js/pages/team-scheduler.js') }}"></script>
</body>
</html>
