<div class="card card-widget widget-user-2">

    <div class="card-footer p-0">
        <ul class="nav flex-column" id="sideMenu_left">
            <li class="nav-item">
                <a href="{{path('Home',{'path':'employee'})}}" class="nav-link">
                    <i class="fas fa-user-alt mr-2"></i> EMPLOYEES
                </a>
            </li>
            <li class="nav-item">
                <a href="{{path('Home',{'path':'position'})}}"  class="nav-link">
                    <i class="fas fa-tags mr-2"></i> POSITIONS
                </a>
            </li>
            <li class="nav-item">
                <a href="{{path('Home',{'path':'schedule'})}}" class="nav-link">
                    <i class="fas fa-calendar-day mr-2"></i> SCHEDULES
                </a>
            </li>
            <li class="nav-item">
                <a href="{{path('Home',{'path':'jobsite'})}}" class="nav-link">
                    <i class="fas fa-map-marker-alt mr-2"></i> JOB SITES
                </a>
            </li>
            <li class="nav-item">
                <a href="{{path('Home',{'path':'shift-templates'})}}"  class="nav-link">
                    <i class="fab fa-trello mr-2"></i> SHIFT TEMPLATES
                </a>
            </li>
        </ul>
    </div>
</div>