<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Workplan | Reset Password</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="{{asset('plugins/fontawesome-free/css/all.min.css')}}">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="{{asset('plugins/icheck-bootstrap/icheck-bootstrap.min.css')}}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{{asset('css/adminlte.min.css')}}">
    <link rel="stylesheet" href="{{asset('css/custom.css')}}">


    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <link href="{{ asset('img/favicon.png') }}" rel="shortcut icon" type="image/x-icon">
    <link href="{{ asset('img/webclip.png') }}" rel="apple-touch-icon">
</head>
<body class="hold-transition login-page">
<div class="login-box" style="width: 600px;">
    <div class="login-logo">
        <i class="nav-icon fas fa-stream"></i>
        <a href="#"> <b>Work</b>Plan</a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body " style="padding: 6rem;">
            <h3 class="text-center">Reset Password</h3>

            <p class="login-box-msg"><small>You have requested that your password be reset. Please  <br>
                    enter a new password below.
                </small>
            </p>

            <form action="#" method="post" id="formChangepass">
                <div class="row">
                    <label for="first">New Password</label>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" title="At least 8 character" name="first" id="first">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <label for="second">Confirm Password</label>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" id="second" name="second">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>

                </div>

                 <div class="row">
                 <div class="col-8">
                     <div class="icheck-primary">
                         <input type="checkbox" id="showpass">
                         <label for="showpass">
                             Show Password
                         </label>
                     </div>
                 </div>
             </div>
                <div class="row">
                    <div id="pswd_info">
                        <ul>

                            <li>Length must be at least 8 characters</li>
                            <li>Cannot contain an email address</li>
                            <li>Confirmation must match</li>
                        </ul>
                    </div>

                </div>
                <div class="row mt-2">

                    <button type="button" class="btn btn-custbl btn-block reset-password"  disabled="disabled">Change Password </button>
                    <button class="btn btn-custbl btn-block" id="imgLoading" type="button" disabled style="display: none">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Loading...
                    </button>
                </div>


            </form>





        </div>
        <!-- /.login-card-body -->
    </div>
</div>
<!-- /.login-box -->

<!-- jQuery -->
<script src="{{asset('plugins/jquery/jquery.min.js')}}"></script>
<!-- Bootstrap 4 -->
<script src="{{asset('plugins/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
<!-- My Script -->
<script src="{{asset('js/config.js')}}"></script>
<script src="{{asset('js/pages/reset-password.js')}}"></script>


</body>
</html>
