<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Workplan | Log in</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="{{asset('plugins/fontawesome-free/css/all.min.css')}}">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="{{asset('plugins/icheck-bootstrap/icheck-bootstrap.min.css')}}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{{asset('css/adminlte.min.css')}}">
    <link rel="stylesheet" href="{{asset('css/custom.css')}}">
    <!-- Toastr -->
    <link rel="stylesheet" href="{{asset('plugins/toastr/toastr.min.css')}}">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <link href="{{ asset('img/favicon.png') }}" rel="shortcut icon" type="image/x-icon">
    <link href="{{ asset('img/webclip.png') }}" rel="apple-touch-icon">
</head>
<body class="hold-transition login-page">
<div class="login-box" style="width: 600px;">
    <div class="login-logo">
        <i class="nav-icon fas fa-stream"></i>
        <a href="#"> <b>Work</b>Plan</a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="row p-4">
            <div class="col-4">
{#
                <a href="{{path('Home',{path:'login'})}}>"><i class="fas fa-arrow-left fa-xs mr-1"></i>Back</a>
#}

            </div>
            <div class="col-4"></div>
            <div class="col-4">
            </div>
        </div>
        <h3 class="text-center ">Set Your Password</h3>
        <div class="card-body login-card-body " style="padding: 6rem;">


            <form action="#" method="post">
                <div class="input-group mb-3">
                    <input type="password" class="form-control" placeholder="password" id="password" name="password">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-eye-slash" onclick="showChar('password',this.id)" id="displayPass"></span>
                        </div>
                    </div>
                </div>

                <div class="row mt-2">
                    <button type="button" class="btn btn-custbl btn-block set-password">Set Password</button>
                    <button class="btn btn-custbl btn-block" id="imgLoading" type="button" disabled style="display: none">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Loading...
                    </button>
                </div>


            </form>





        </div>
        <!-- /.login-card-body -->
    </div>
</div>
<!-- /.login-box -->

<!-- jQuery -->
<script src="{{asset('plugins/jquery/jquery.min.js')}}"></script>
<!-- Bootstrap 4 -->
<script src="{{asset('plugins/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
<!-- Toastr -->
<script src="{{asset('plugins/toastr/toastr.min.js')}}"></script>
<!-- setPssword js -->
<script src="{{asset('js/config.js')}}"></script>
<script src="{{asset('js/pages/set-password.js')}}"></script>


</body>
</html>
